/* Add application styles & imports to this file! */
@font-face {
  font-family: digital;
  src:  url('assets/fonts/digital.ttf');
}

@font-face {
  font-family: digital-mono;
  src: url('assets/fonts/digital-mono.ttf') format('truetype');
}

  body {
    font-family: 'Digital';
  }